@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
   font-family: 'Inter-Regular';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('../assets/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
   font-family: 'Inter-Medium';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url('../assets/fonts/Inter/Inter-Medium.ttf');
}

@font-face {
   font-family: 'Inter-SemiBold';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url('../assets/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
   font-family: 'FKGroteskNeueTrial-Regular';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('../assets/fonts/Grotesk/FKGroteskNeueTrial-Regular.otf');
}

@font-face {
   font-family: 'FKGroteskNeueTrial-Medium';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url('../assets/fonts/Grotesk/FKGroteskNeueTrial-Medium.otf');
}

@font-face {
   font-family: 'FKGroteskNeueTrial-Bold';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url('../assets/fonts/Grotesk/FKGroteskNeueTrial-Bold.otf');
}